@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

:root {
  --darker: #377290;
  --lighter: #d5ecff;
  --moredarker: #699EB5;
  --evenmore: #3D6B82;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--lighter);
  height: 100vh;
  overflow: hidden;
  background-color: var(--lighter);
}

form.well {
  background-color: var(--darker);
  height: 100%;
  box-shadow: inset -30px 0 30px rgb(0, 0, 0, 0.2);
  margin: 0;
  border-radius: 0;
}

#variables .well {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--lighter);
    background: none;
}

#variables .well .shiny-text-output {
    order: -1;
    width: 100%;
    font-size: 18px;
}

#variables .well > button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    margin: 0 3px 0 3px;
}

div.container-fluid {
  height: 100%;
}

div.row {
  height: 100%;
}

.container-fluid > div.row > div:first-child {
    height: 100%;
    overflow: auto;
    padding: 0;
}

.container-fluid > div.row > div:nth-child(2) {
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.container-fluid h3 {
  margin: 0 0 20px;
  font-size: 36px;
}

.container-fluid button {
  border: none;
  background-color: var(--lighter);
  color: var(--darker);
}

.container-fluid button:hover, 
.container-fluid button:focus,
.container-fluid button:active{
  border: none;
  background-color: var(--moredarker);
  color: var(--lighter);
}

#downloadData:focus, #downloadData:hover {
  border: 1px solid;
  background-color: var(--lighter);
  color: var(--moredarker);
}

#downloadData, #downloadData {
  border: none;
  background-color: var(--darker);
  color: var(--lighter);
  position: fixed; 
  bottom: 3px; 
  right: 3px;
}

.container-fluid input {
  border: none;
  background-color: var(--lighter);
  color: var(--darker);
}

.container-fluid input:focus, .container-fluid input:hover {
  border: none;
  background-color: var(--moredarker);
  color: var(--lighter);
}

.modal-content {
  background-color: var(--darker);
  padding: 20px;
}

.container-fluid .selectize-input:hover, 
.container-fluid .selectize-control.single .selectize-input.full:hover,
.container-fluid .selectize-dropdown:hover {
  border: none;
  background-color: var(--moredarker);
  color: var(--lighter);
}

.container-fluid .selectize-input, 
.container-fluid .selectize-control.single .selectize-input.full,
.container-fluid .selectize-dropdown {
  border: none;
  background-color: var(--lighter);
  color: var(--darker);
}

.container-fluid .selectize-dropdown .active {
  border: none;
  background-color: var(--lighter);
  color: var(--darker);
}

#variables .tabbable li.active a, #variables .tabbable li.active a:hover {
    border: none;
    background: none;
    color: var(--lighter);
    border-bottom: 4px solid;
    font-weight: 600;
}

#variables .tabbable li a, #variables .tabbable li a:hover {
    border: none;
    background: none;
    color: var(--lighter);
}

#variables .tab-content {
  padding-top: 10px;
}

.container-fluid .irs--shiny .irs-bar {
  border-top: 1px solid var(--moredarker);
  border-bottom: 1px solid var(--moredarker);
  background: var(--moredarker);
}

.container-fluid .irs--shiny .irs-from, 
.container-fluid .irs--shiny .irs-to, 
.container-fluid .irs--shiny .irs-single {
  color: var(--evenmore);
  background-color: var(--lighter);
}

.container-fluid .irs--shiny .irs-min, 
.container-fluid .irs--shiny .irs-max {
  border: 1px solid;
}

#define-var {
  display: flex;
  align-items: end;
}

#define-var div:first-child {
  width: 100%;
  margin-bottom: 0;
}

#new {
  margin-left: 1px;
  height: 34px;
}

#run {
  margin-top: 20px;
  font-weight: 600;
}

/* auto generated by https://datatables.net/manual/styling/theme-creator */

.container-fluid .datatables,
.container-fluid .dataTables_wrapper .dataTables_length, 
.container-fluid .dataTables_wrapper .dataTables_filter, 
.container-fluid .dataTables_wrapper .dataTables_info, 
.container-fluid .dataTables_wrapper .dataTables_processing, 
.container-fluid .dataTables_wrapper .dataTables_paginate {
    color: var(--darker);
}

.container-fluid table.dataTable th.dt-left,
.container-fluid table.dataTable td.dt-left {
  text-align: left;
}
.container-fluid table.dataTable th.dt-center,
.container-fluid table.dataTable td.dt-center,
.container-fluid table.dataTable td.dataTables_empty {
  text-align: center;
}
.container-fluid table.dataTable th.dt-right,
.container-fluid table.dataTable td.dt-right {
  text-align: right;
}
.container-fluid table.dataTable th.dt-justify,
.container-fluid table.dataTable td.dt-justify {
  text-align: justify;
}
.container-fluid table.dataTable th.dt-nowrap,
.container-fluid table.dataTable td.dt-nowrap {
  white-space: nowrap;
}
.container-fluid table.dataTable thead th.dt-head-left,
.container-fluid table.dataTable thead td.dt-head-left,
.container-fluid table.dataTable tfoot th.dt-head-left,
.container-fluid table.dataTable tfoot td.dt-head-left {
  text-align: left;
}
.container-fluid table.dataTable thead th.dt-head-center,
.container-fluid table.dataTable thead td.dt-head-center,
.container-fluid table.dataTable tfoot th.dt-head-center,
.container-fluid table.dataTable tfoot td.dt-head-center {
  text-align: center;
}
.container-fluid table.dataTable thead th.dt-head-right,
.container-fluid table.dataTable thead td.dt-head-right,
.container-fluid table.dataTable tfoot th.dt-head-right,
.container-fluid table.dataTable tfoot td.dt-head-right {
  text-align: right;
}
.container-fluid table.dataTable thead th.dt-head-justify,
.container-fluid table.dataTable thead td.dt-head-justify,
.container-fluid table.dataTable tfoot th.dt-head-justify,
.container-fluid table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}
.container-fluid table.dataTable thead th.dt-head-nowrap,
.container-fluid table.dataTable thead td.dt-head-nowrap,
.container-fluid table.dataTable tfoot th.dt-head-nowrap,
.container-fluid table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}
.container-fluid table.dataTable tbody th.dt-body-left,
.container-fluid table.dataTable tbody td.dt-body-left {
  text-align: left;
}
.container-fluid table.dataTable tbody th.dt-body-center,
.container-fluid table.dataTable tbody td.dt-body-center {
  text-align: center;
}
.container-fluid table.dataTable tbody th.dt-body-right,
.container-fluid table.dataTable tbody td.dt-body-right {
  text-align: right;
}
.container-fluid table.dataTable tbody th.dt-body-justify,
.container-fluid table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}
.container-fluid table.dataTable tbody th.dt-body-nowrap,
.container-fluid table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}
.container-fluid table.dataTable td.dt-control {
  text-align: center;
  cursor: pointer;
}
.container-fluid table.dataTable td.dt-control:before {
  height: 1em;
  width: 1em;
  margin-top: -9px;
  display: inline-block;
  color: white;
  border: 0.15em solid white;
  border-radius: 1em;
  box-shadow: 0 0 0.2em #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: "Courier New", Courier, monospace;
  line-height: 1em;
  content: "+";
  background-color: #31b131;
}
.container-fluid table.dataTable tr.dt-hasChild td.dt-control:before {
  content: "-";
  background-color: #d33333;
}
 
/*
 * Table styles
 */
.container-fluid table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}
.container-fluid table.dataTable thead th,
.container-fluid table.dataTable tfoot th {
  font-weight: bold;
}
.container-fluid table.dataTable thead th,
.container-fluid table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 0px none #111111;
}
.container-fluid table.dataTable thead th:active,
.container-fluid table.dataTable thead td:active {
  outline: none;
}
.container-fluid table.dataTable tfoot th,
.container-fluid table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 0px none #111111;
}
.container-fluid table.dataTable thead .sorting,
.container-fluid table.dataTable thead .sorting_asc,
.container-fluid table.dataTable thead .sorting_desc,
.container-fluid table.dataTable thead .sorting_asc_disabled,
.container-fluid table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}
.container-fluid table.dataTable thead .sorting {
  background-image: url("../images/sort_both.png");
}
.container-fluid table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png") !important;
}
.container-fluid table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png") !important;
}
.container-fluid table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}
.container-fluid table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}
.container-fluid table.dataTable tbody tr {
  background-color: var(--lighter);
}
.container-fluid table.dataTable tbody tr.selected {
  background-color: #699eb5;
}
.container-fluid table.dataTable tbody th,
.container-fluid table.dataTable tbody td {
  padding: 8px 10px;
}
.container-fluid table.dataTable.row-border tbody th, .container-fluid table.dataTable.row-border tbody td, .container-fluid table.dataTable.display tbody th, .container-fluid table.dataTable.display tbody td {
  border-top: 1px solidvar(--darker);
}
.container-fluid table.dataTable.row-border tbody tr:first-child th,
.container-fluid table.dataTable.row-border tbody tr:first-child td, .container-fluid table.dataTable.display tbody tr:first-child th,
.container-fluid table.dataTable.display tbody tr:first-child td {
  border-top: none;
}
.container-fluid table.dataTable.cell-border tbody th, .container-fluid table.dataTable.cell-border tbody td {
  border-top: 1px solidvar(--darker);
  border-right: 1px solidvar(--darker);
}
.container-fluid table.dataTable.cell-border tbody tr th:first-child,
.container-fluid table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solidvar(--darker);
}
.container-fluid table.dataTable.cell-border tbody tr:first-child th,
.container-fluid table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}
.container-fluid table.dataTable.stripe tbody tr.odd, .container-fluid table.dataTable.display tbody tr.odd {
  background-color: #d0e6f9;
}
.container-fluid table.dataTable.stripe tbody tr.odd.selected, .container-fluid table.dataTable.display tbody tr.odd.selected {
  background-color: #679ab1;
}
.container-fluid table.dataTable.hover tbody tr:hover, .container-fluid table.dataTable.display tbody tr:hover {
  background-color: #cde4f6;
}
.container-fluid table.dataTable.hover tbody tr:hover.selected, .container-fluid table.dataTable.display tbody tr:hover.selected {
  background-color: #6598ae;
}
.container-fluid table.dataTable.order-column tbody tr > .sorting_1,
.container-fluid table.dataTable.order-column tbody tr > .sorting_2,
.container-fluid table.dataTable.order-column tbody tr > .sorting_3, .container-fluid table.dataTable.display tbody tr > .sorting_1,
.container-fluid table.dataTable.display tbody tr > .sorting_2,
.container-fluid table.dataTable.display tbody tr > .sorting_3 {
  background-color: #d1e7fa;
}
.container-fluid table.dataTable.order-column tbody tr.selected > .sorting_1,
.container-fluid table.dataTable.order-column tbody tr.selected > .sorting_2,
.container-fluid table.dataTable.order-column tbody tr.selected > .sorting_3, .container-fluid table.dataTable.display tbody tr.selected > .sorting_1,
.container-fluid table.dataTable.display tbody tr.selected > .sorting_2,
.container-fluid table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #679bb1;
}
.container-fluid table.dataTable.display tbody tr.odd > .sorting_1, .container-fluid table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #c9dff1;
}
.container-fluid table.dataTable.display tbody tr.odd > .sorting_2, .container-fluid table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #cbe1f3;
}
.container-fluid table.dataTable.display tbody tr.odd > .sorting_3, .container-fluid table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: #cde3f5;
}
.container-fluid table.dataTable.display tbody tr.odd.selected > .sorting_1, .container-fluid table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #6395ab;
}
.container-fluid table.dataTable.display tbody tr.odd.selected > .sorting_2, .container-fluid table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #6497ac;
}
.container-fluid table.dataTable.display tbody tr.odd.selected > .sorting_3, .container-fluid table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #6598ae;
}
.container-fluid table.dataTable.display tbody tr.even > .sorting_1, .container-fluid table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #d1e7fa;
}
.container-fluid table.dataTable.display tbody tr.even > .sorting_2, .container-fluid table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #d2e9fc;
}
.container-fluid table.dataTable.display tbody tr.even > .sorting_3, .container-fluid table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #d4ebfe;
}
.container-fluid table.dataTable.display tbody tr.even.selected > .sorting_1, .container-fluid table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #679bb1;
}
.container-fluid table.dataTable.display tbody tr.even.selected > .sorting_2, .container-fluid table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #689cb3;
}
.container-fluid table.dataTable.display tbody tr.even.selected > .sorting_3, .container-fluid table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #699db4;
}
.container-fluid table.dataTable.display tbody tr:hover > .sorting_1, .container-fluid table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #c4d9ea;
}
.container-fluid table.dataTable.display tbody tr:hover > .sorting_2, .container-fluid table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #c5daec;
}
.container-fluid table.dataTable.display tbody tr:hover > .sorting_3, .container-fluid table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #c8ddef;
}
.container-fluid table.dataTable.display tbody tr:hover.selected > .sorting_1, .container-fluid table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #6091a6;
}
.container-fluid table.dataTable.display tbody tr:hover.selected > .sorting_2, .container-fluid table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #6192a7;
}
.container-fluid table.dataTable.display tbody tr:hover.selected > .sorting_3, .container-fluid table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #6294aa;
}
.container-fluid table.dataTable.no-footer {
  border-bottom: 0px none #111111;
}
.container-fluid table.dataTable.nowrap th, .container-fluid table.dataTable.nowrap td {
  white-space: nowrap;
}
.container-fluid table.dataTable.compact thead th,
.container-fluid table.dataTable.compact thead td {
  padding: 4px 17px;
}
.container-fluid table.dataTable.compact tfoot th,
.container-fluid table.dataTable.compact tfoot td {
  padding: 4px;
}
.container-fluid table.dataTable.compact tbody th,
.container-fluid table.dataTable.compact tbody td {
  padding: 4px;
}
 
.container-fluid table.dataTable th,
.container-fluid table.dataTable td {
  box-sizing: content-box;
}
 
/*
 * Control feature layout
 */
.container-fluid .dataTables_wrapper {
  position: relative;
  clear: both;
}
.container-fluid .dataTables_wrapper .dataTables_length {
  float: left;
}
.container-fluid .dataTables_wrapper .dataTables_length select {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  padding: 4px;
}
.container-fluid .dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.container-fluid .dataTables_wrapper .dataTables_filter input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  background-color: transparent;
  margin-left: 3px;
}
.container-fluid .dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.container-fluid .dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color:var(--darker) !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color:var(--darker) !important;
  border: 1px solid #315463;
  background-color: #c9dce4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9dce4), color-stop(100%, #699eb5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c9dce4 0%, #699eb5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #c9dce4 0%, #699eb5 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #c9dce4 0%, #699eb5 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #c9dce4 0%, #699eb5 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #c9dce4 0%, #699eb5 100%);
  /* W3C */
}
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solidvar(--darker);
  background-color: #85b7d1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85b7d1), color-stop(100%,var(--darker)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #85b7d1 0%,var(--darker) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #85b7d1 0%,var(--darker) 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #85b7d1 0%,var(--darker) 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #85b7d1 0%,var(--darker) 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #85b7d1 0%,var(--darker) 100%);
  /* W3C */
}
.container-fluid .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #458fb5;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #458fb5), color-stop(100%, #346c89));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #458fb5 0%, #346c89 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #458fb5 0%, #346c89 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #458fb5 0%, #346c89 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #458fb5 0%, #346c89 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #458fb5 0%, #346c89 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.container-fluid .dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
.container-fluid .dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(213, 236, 255, 0)), color-stop(25%, rgba(213, 236, 255, 0.9)), color-stop(75%, rgba(213, 236, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(213, 236, 255, 0) 0%, rgba(213, 236, 255, 0.9) 25%, rgba(213, 236, 255, 0.9) 75%, rgba(213, 236, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(213, 236, 255, 0) 0%, rgba(213, 236, 255, 0.9) 25%, rgba(213, 236, 255, 0.9) 75%, rgba(213, 236, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(213, 236, 255, 0) 0%, rgba(213, 236, 255, 0.9) 25%, rgba(213, 236, 255, 0.9) 75%, rgba(213, 236, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(213, 236, 255, 0) 0%, rgba(213, 236, 255, 0.9) 25%, rgba(213, 236, 255, 0.9) 75%, rgba(213, 236, 255, 0) 100%);
  background: linear-gradient(to right, rgba(213, 236, 255, 0) 0%, rgba(213, 236, 255, 0.9) 25%, rgba(213, 236, 255, 0.9) 75%, rgba(213, 236, 255, 0) 100%);
}
.container-fluid .dataTables_wrapper .dataTables_length,
.container-fluid .dataTables_wrapper .dataTables_filter,
.container-fluid .dataTables_wrapper .dataTables_info,
.container-fluid .dataTables_wrapper .dataTables_processing,
.container-fluid .dataTables_wrapper .dataTables_paginate {
  color:var(--darker);
}
.container-fluid .dataTables_wrapper .dataTables_scroll {
  clear: both;
}
.container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}
.container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}
.container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.container-fluid .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.container-fluid .dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0px none #111111;
}
.container-fluid .dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.container-fluid .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}
.container-fluid .dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
 
@media screen and (max-width: 767px) {
  .container-fluid .dataTables_wrapper .dataTables_info,
.container-fluid .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .container-fluid .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .container-fluid .dataTables_wrapper .dataTables_length,
.container-fluid .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .container-fluid .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}
